<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Show</title>
</head>
<body>
<p th:text="${event.getName() + ', ' + event.getPlace()}">VALUE</p>

<div th:if="${teams.isEmpty()}">
    <p>In event no teams</p>
    <hr/>
</div>

<div th:if="${!teams.isEmpty()}">
    <hr/>
    <b>Teams:</b>
    <br/>
    <table th:each="team : ${teams}">
        <tr>
            <td>
                <span th:text="${team.getName() + ', ' + team.getCoach()}">
                </span>
            </td>
        </tr>
    </table>
    <hr/>
</div>

<form th:method="GET" th:action="@{/events/{id}/edit(id=${event.id})}">
    <input type="submit" value="Edit"/>
</form>

<form th:method="DELETE" th:action="@{/events/{id}(id=${event.id})}">
    <input type="submit" value="Delete"/>
</form>

</body>
</html>