<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="welcome/first"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Show</title>
</head>
<body>
<div layout:fragment="content1">
    <div class="col-md-6 offset-3 mt-3">
        <div class="text-center">
            <div class="card-header">
                <h2><p th:text="${team.getName() + ', ' + team.getCoach()}">VALUE</p></h2>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="col-md-6 offset-3 mt-3" th:if="${teamsInEvent.isEmpty()}">
                    <p>Athlete without team </p>
                    <hr/>
                </div>
                <div class="col-md-6 offset-3 mt-3" th:if="${!teamsInEvent.isEmpty()}">
                    <table class="table" th:each="teamInEvent : ${teamsInEvent}">
                        <tr class="text-center">
                            <td>
                                <h5>
                                    <span>Team now in: </span>
                                    <span th:text="${teamInEvent.getName()}"></span>
                                </h5>
                                <form sec:authorize="hasRole('ROLE_ADMIN')" th:method="PATCH"
                                      th:action="@{/teams/{id}/{eventId}/releaseEvent(id=${team.getId()},eventId=${teamInEvent.getId()})}">
                                    <button type="submit" class="btn btn-outline-warning"> Release</button>
                                </form>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="card">
            <div sec:authorize="hasRole('ROLE_ADMIN')" class="col-md-6 offset-3 mt-3" th:if="${athletes}">
                <span>You can add athlete in team!</span>
                <form class="form-control" th:method="PATCH" th:action="@{/teams/{id}/assignAthlete(id=${team.getId()})}">
                    <label class="form-label" for="athlete">Choose athlete</label>
                    <select class="form-select" th:object="${athlete}" th:field="*{id}" id="athlete">
                        <option th:each="athlete : ${athletes}" th:value="${athlete.getId()}"
                                th:text="${athlete.getName()} + ', ' + ${athlete.getSurname()} ">
                        </option>
                    </select>
                    <br>
                    <div class="text-center">
                        <button type="submit" class="btn btn-secondary btn-sm">Add athlete</button>
                    </div>
                </form>
            </div>
            <div class="card-body">
                <div class="col-md-6 offset-3 mt-3" th:if="${athletesInTeams.isEmpty()}">
                    <p>In team no athlete</p>
                </div>
                <div class="col-md-6 offset-3 mt-3" th:if="${!athletesInTeams.isEmpty()}">
                    <b>Athletes:</b>
                    <table class="table" th:each="athlete : ${athletesInTeams}">
                        <tr class="text-center">
                            <td>
                                <h5>
                                    <span th:text="${athlete.getName() + ', ' + athlete.getSurname()}"></span>
                                </h5>
                                <form sec:authorize="hasRole('ROLE_ADMIN')" th:method="PATCH"
                                      th:action="@{/teams/{id}/{athleteId}/releaseAthlete(id=${team.getId()},athleteId=${athlete.getId()})}">
                                    <button type="submit" class="btn btn-outline-warning"> Release</button>
                                </form>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <p><a class="btn btn-dark" href="/teams">Back</a></p>
    </div>
</div>
</body>
</html>