<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Teams</title>
</head>
<body>
<div th:switch="${teams}">
    <h2 th:case="null">No teams yet!</h2>
    <div th:case="*">
        <h2>Teams</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Coach</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="team:${teams}">
                <td th:text="${team.id}"></td>
                <td th:text="${team.name}"></td>
                <td th:text="${team.coach}"></td>
                <td><a th:href="@{team-update/{id}(id=${team.id})}">Edit</a></td>
                <td><a th:href="@{team-delete/{id}(id=${team.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/team-create">Create team</a></p>
</div>
</body>
</html>