<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="welcome/first"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">
<head>
    <meta charset="UTF-8">
    <title>Teams</title>
</head>
<body>
<div layout:fragment="content1">
    <div class="container">
        <div th:switch="${teams}">
            <div class="card-header"><h3>List of Teams</h3></div>
            <div class="card-body">
                <h2 th:case="null">No teams yet!</h2>
                <div th:case="*">
                    <table class="table">
                        <thead>
                        <tr class="text-center">
                            <th>Id</th>
                            <th>Name</th>
                            <th>Coach</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="text-center" th:each="team:${teams}">
                            <td th:text="${team.getId()}"></td>
                            <td><a th:href="@{/teams/{id}(id=${team.getId()})}" th:text="${team.getName()}"></a></td>
                            <td th:text="${team.getCoach()}"></td>
                            <td sec:authorize="hasRole('ROLE_ADMIN')">
                                <form th:method="GET" th:action="@{/teams/{teamId}/edit(teamId=${team.getId()})}">
                                    <button type="submit" class="btn btn-secondary">Edit</button>
                                </form>
                            </td>
                            <td sec:authorize="hasRole('ROLE_ADMIN')">
                                <form th:method="DELETE" th:action="@{/teams/{teamId}(teamId=${team.getId()})}">
                                    <button type="submit" class="btn btn-danger"> Delete</button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <p><a sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-info" href="/teams/new">Create team</a></p>
                <p><a class="btn btn-dark" href="/first">Back</a></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>