<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Update team</title>
</head>
<body>
<form action="#" th:action="@{/teams/{teamId}(teamId=${team.getId()})}" th:object="${team}" th:method="PATCH">
    <label for="id">Id</label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
    <br/>
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="title">
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
    <br/>
    <label for="coach">Coach</label>
    <input type="text" th:field="*{coach}" id="coach" placeholder="coach">
    <div style="color:red" th:if="${#fields.hasErrors('coach')}" th:errors="*{coach}">Coach Error</div>
    <br/>
    <input type="submit" value="Update team">
</form>
</body>
</html>