<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Teams</title>
</head>
<body>
<div th:switch="${teams}">
    <h2 th:case="null">No teams yet!</h2>
    <div th:case="*">
        <h2>Teams</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Coach</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="team:${teams}">
                <td th:text="${team.id}"></td>
                <td><a th:href="@{/teams/{id}(id=${team.id})}" th:text="${team.name}"></a></td>
                <td th:text="${team.coach}"></td>
                <td><form th:method="GET" th:action="@{/teams/{teamId}/edit(teamId=${team.id})}">
                    <input type="submit" value="Edit"/></form></td>
                <!--                <td><a th:href="@{/{id}(id=${event.id})}">Delete</a></td>-->
                <td><form th:method="DELETE" th:action="@{/teams/{teamId}(teamId=${team.id})}">
                    <input type="submit" value="Delete"/></form> </td>
<!--                <td><a th:href="@{/{id}(id=${team.id})}">Edit</a></td>-->
<!--                <td><a th:href="@{team-delete/{id}(id=${team.id})}">Delete</a></td>-->
            </tr>
            </tbody>
        </table>
<!--        <form th:method="GET" th:action="@{/events/{id}/teamsInEvent/new(id = ${events.id})}" th:object="${events}">-->
<!--            <input type="submit" value="Create"/></form>-->

    </div>
    <p><a href="/teams/new">Create team</a></p>
<!--    <div th:each="event:${events}" >-->
<!--    <a th:href="@{/events/{id}/teamsInEvent/new(id = ${events.id})}" role="button">Create team</a>-->
<!--    </div>-->
</div>
</body>
</html>