<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Athletes</title>
</head>
<body>
<div th:switch="${athletes}">
    <h2 th:case="null">No athletes yet!</h2>
    <div th:case="*">
        <h2>Athletes</h2>
        <table>
            <thead>
            <tr>
                <th>id</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Age</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="athlete:${athletes}">
                <td th:text="${athlete.id}"></td>
                <td> <a th:href="@{/athletes/{id}(id=${athlete.id})}"th:text="${athlete.name}"></a></td>
                <td th:text="${athlete.surname}"></td>
                <td th:text="${athlete.age}"></td>
                <td><form th:method="GET" th:action="@{/athletes/{id}/edit(id=${athlete.id})}">
                    <input type="submit" value="Edit"/></form></td>
                <td><form th:method="DELETE" th:action="@{/athletes/{id}(id=${athlete.id})}">
                    <input type="submit" value="Delete"/></form> </td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/athletes/new">Create athlete</a></p>
    <p><a href="/first">Back</a></p>
</div>
</body>
</html>