<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Athlete team</title>
</head>
<body>
<form action="#" th:action="@{/athletes}" th:object="${athlete}" th:method="post">
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="name">
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
    <br>
    <label for="surname">Surname</label>
    <input type="text" th:field="*{surname}" id="surname" placeholder="surname">
    <div style="color:red" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Surname Error</div>
    <br>
    <label for="age">Age</label>
    <input type="text" th:field="*{age}" id="age" placeholder="age">
    <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age Error</div>
    <br>
    <input type="submit" value="Create athlete">
</form>
</body>
</html>