<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Athlete team</title>
</head>
<body>
<form action="#" th:action="@{/athlete-create}" th:object="${athlete}" method="post">
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="name">
  <br>
    <label for="surname">Surname</label>
    <input type="text" th:field="*{surname}" id="surname" placeholder="surname">
  <br>
    <input type="submit" value="Create athlete">
</form>
</body>
</html>