<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<title>Update athlete</title>
</head>
<body>
<form action="#" th:action="@{/athlete-update}" th:object="${athlete}" method="post">
    <label for="id">ID</label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
    <br/>
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="title">
    <br/>
    <label for="surname">Surname</label>
    <input type="text" th:field="*{surname}" id="surname" placeholder="surname">
    <br/>
    <label for="age">Age</label>
    <input type="text" th:field="*{age}" id="age" placeholder="age">
    <br/>
    <input type="submit" value="Update athlete">
</form>
</body>
</html>