<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Show</title>
</head>
<body>

<p th:text="${athlete.getName() + ', ' + athlete.getSurname() + ', ' + athlete.getAge()}">VALUE</p>

<div th:if="${teams}">
    <span>you can add team in athlete!</span>
    <form th:method="PATCH" th:action="@{/athletes/{id}/assign(id=${athlete.getId()})}">
        <label for="team">Choose team</label>
        <select th:object="${team}" th:field="*{id}" id="team">
            <option th:each="team : ${teams}" th:value="${team.getId()}" th:text="${team.getName()}">
            </option>
        </select>
        <input type="submit" value="submit"/>
    </form>
</div>

<div th:if="${teamsInAthlete.isEmpty()}">
    <p>Athlete without team </p>
    <hr/>
</div>
<div th:if="${!teamsInAthlete.isEmpty()}">
    <hr/>
    <b>Teams:</b>
    <br/>
    <table th:each="team : ${teamsInAthlete}">
        <tr>
            <td>
                <span>Athlete now in: </span><span th:text="${team.getName() + ', ' + team.getCoach()}">
                </span>
            </td>
            <td>
                <form th:method="PATCH" th:action="@{/athletes/{id}/{teamId}/release(id=${athlete.getId()},teamId=${team.getId()})}">
                    <input type="submit" value="Delete team"/>
                </form>
            </td>
        </tr>
    </table>
    <hr/>
</div>
</div>
<p><a href="/athletes">Back</a></p>
</div>
<!--<div th:if="${oneTeam}">-->
<!--    <span>Athlete now in: </span> <span th:text="${oneTeam.g}">Team Name</span>-->


<!--</div>-->

<hr/>

<!--<form th:method="GET" th:action="@{/books/{id}/edit(id=${book.getId()})}">-->
<!--    <input type="submit" value="Редактировать"/>-->
<!--</form>-->

<!--<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">-->
<!--    <input type="submit" value="Удалить"/>-->
<!--</form>-->



</body>
</html>