<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="welcome/first"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Show</title>
</head>
<body>
<div layout:fragment="content1">
    <div class="col-md-6 offset-3 mt-3">
        <div class="text-center">
            <div class="card-header">
                <h2>
                    <p th:text="${athlete.getName() + ', ' + athlete.getSurname() + ', ' + athlete.getAge()}">VALUE</p>
                </h2>
            </div>
        </div>
        <div class="card">
            <div sec:authorize="hasRole('ROLE_ADMIN')" class="col-md-6 offset-3 mt-3" th:if="${teams}">
                <span>You can add team in athlete!</span>
                <form class="form-control" th:method="PATCH"
                      th:action="@{/athletes/{id}/assign(id=${athlete.getId()})}">
                    <label class="form-label" for="team">Choose team:</label>
                    <select class="form-select" th:object="${team}" th:field="*{id}" id="team">
                        <option th:each="team : ${teams}" th:value="${team.getId()}" th:text="${team.getName()}">
                        </option>
                    </select>
                    <div class="text-center">
                        <button type="submit" class="btn btn-secondary btn-sm">Add team</button>
                    </div>
                </form>
            </div>
            <div class="card-body">
                <div class="col-md-6 offset-3 mt-3" th:if="${teamsInAthlete.isEmpty()}">
                    <p>Athlete without team </p>
                </div>
                <div class="col-md-6 offset-3 mt-3" th:if="${!teamsInAthlete.isEmpty()}">
                    <b>Teams:</b>
                    <table class="table" th:each="team : ${teamsInAthlete}">
                        <tr class="text-center">
                            <td>
                                <span>Athlete added in team: </span><span
                                    th:text="${team.getName()}"></span>
                                <form sec:authorize="hasRole('ROLE_ADMIN')" th:method="PATCH"
                                      th:action="@{/athletes/{id}/{teamId}/releaseAthlete(id=${athlete.getId()},teamId=${team.getId()})}">
                                    <button type="submit" class="btn btn-outline-warning"> Release team</button>
                                </form>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="col-md-6 offset-3 mt-3" th:if="${eventsInAthlete.isEmpty()}">
                    <p>Athlete without events </p>
                </div>
                <div class="col-md-6 offset-3 mt-3" th:if="${!eventsInAthlete.isEmpty()}">
                    <b>Events:</b>
                    <br/>
                    <table class="table" th:each="event : ${eventsInAthlete}">
                        <tr class="text-center">
                            <td>
                                <span>Athlete competes in: </span>
                                <span th:text="${event.getName()}">
                                </span>
                                <form sec:authorize="hasRole('ROLE_ADMIN')" th:method="PATCH"
                                      th:action="@{/athletes/{id}/{eventId}/releaseEvent(id=${athlete.getId()},eventId=${event.getId()})}">
                                    <button type="submit" class="btn btn-outline-warning"> Release event</button>
                                </form>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <p><a class="btn btn-dark" href="/athletes">Back</a></p>
    </div>
</div>
</body>
</html>